
.headder
{
width: 100%;
height: 100px;
color:black;
position: fixed;
background-color:white;

}

.textdesign
{
color: black !important;
font-size: 30px;
font-family: 'times new roman';
margin-left: 15px;
display: table-cell;
}


.FontIcons
{
display: inline-flex;
padding: 10px;
float: right;
margin-left: 20vw;

}
.photomargins
{
margin-left:0px;
margin-right:0px !important;
padding-left:0px;
padding-right:0px !important;

}
.containerdesign{
margin-left: 0px !important;
margin-right: 0px !important;
height: 30vw;
}
.Facebook
{
 font-size: 40px;

}
.Twitter{
font-size:40px;
margin-left: 10px;
}
.Camera
{

font-size: 40px;
margin-left:10px;
}

    
.image {
width:100%; 
height:600px;
margin-top: 100px;
}

.image_blur
{
width: 100%;
height: 560px;
/*position: absolute;*/

}
h2 {
position: absolute;
top: 27vw;
left: 0;
font-style: italic;   
height: 50px;
font-size: 80px;
color: white;
font-family: Snell Roundhand, cursive;
font-weight:bold;
margin-left: 5vw;
}
.head_3{
position: absolute;
top: 35vw;
left: 0;
height: 50px;
font-size: 30px;
color: orange;
font-family:'times new roman'; 
font-weight:bold;
margin-left: 5vw;
margin-bottom: 20px;
font-style: italic;

}

.blinking{
animation:blinkingText 3s infinite;
}
@keyframes blinkingText{
    0%{     color: lightblue;}
    49%{    color: white; }
    50%{    color: blue; }
    99%{    color:white;  }
    100%{   color:white;    }
}
.Services
{
padding-left:10vw;
align-items: center;
padding-right:0px;
background-color:#FA8258;
width:100%;
height:665px;
}
.imagerow1{
width:250px;
height:250px;
margin-top:10vw;
position: relative;

}

.imagerow2{
width:250px;
height:250px;
margin-bottom:40px;

}
.container {
position: relative;
margin-left: -14px;

}
.centered {
position: absolute;
top: 60%;
left: 12%;
transform: translate(-50%, -50%);
font-size: 30px;
color: blue;
font-weight: bold;
font-family: times new roman;
}
.facialbook{
position: absolute;
top: 70%;
left: 12%;
transform: translate(-50%, -50%);
font-size: 20px;
color: red;
font-weight: bold;
font-family: times new roman;  
list-style-type: none;
text-decoration: none;

}
.facialbook:hover{
color:blue;
background-color: pink;
padding: 10px;
list-style-type: none;
text-decoration: none;

}
.Tablesetting
{
width:520px;
height: 500px;
background-color:black;
position: relative;
display: block;
align-items: center;
justify-content: center;
margin-left: 30vw;
margin-top: 2vw;
margin-bottom: 14vw;
padding: 1px;
font-size: 60px;
font-family:  "Great Vibes"; 
}
.winterspecial
{
color: white;
font-family: "Great Vibes", cursive;
margin-top: 5vw;
text-align: center;
margin-bottom: 65px;

}
.parent{
overflow:hidden;
position:relative;
display:table;
color: white;
margin-left: 6vw;
font-family: fantasy;
font-size: 18px;
text-decoration: uppercase;
}
.left{
display:table-cell;
}
.right{
    
width:100px;
height:100%;
display:inline-block;
color: white;
margin-left: 12vw;
font-family: fantasy;
 }
.winterspecialbook{
color: white;
text-decoration: none;
margin-left: 10vw;
display: absolute;
position: block;

}
.winterspecialbook:hover{
text-decoration: none;
color: white;

}
.BookNow{
background-color: black;
width: 100%;
height: 50px;
position: absolute;
}
.BookNowUnder
{
width: 900px;
height: 400px;
background-color: white;
margin-left: 10vw;
position:absolute;
margin-top: 14vw;

}

.Bookonline_a{
width:100%;
height: 680px;
background-color: black;
padding-left: 0px;
padding-right: 0px;
position: relative;
}
.Bookonline_book_now{
font-size: 65px;
font-family: 'freestyle script';
color: white;
text-align: center;
font-style: italic;

}
.Bookonline_row{
width:80%;
height: 400px;
background-color: white;
margin-left: 10vw;
}
.Bookonline_row_right{
margin-left:auto;
margin-right:auto;
display:table;
align-items:center;
justify-content:center;
color:lightblack;
padding: 30px;
border-left: 2px solid black;
height: 20vw;
margin-top: 50px;
font-family: times new roman;

}
.Bookonline_row_left{
text-align: center;
font-size: 25px;
font-family: times new roman;
}


.Boot_it{
color: white;
background-color: red;
border: none;
width: 100px;
height: 35px;
align-items: center;
justify-content: center;
margin: 50px;
}
.testiminal{
font-size: 65px;
font-family: 'freestyle script';
color: lightblack;
text-align: center;
font-style: italic;
position: relative;

}
.Testminal_row{
width:80%;
height: 300px;
background-color:lightgreen;
margin-left: 10vw;

padding: 40px;
text-align: center;
font-family: Lucida Sans;
font-size: 20px;
box-shadow: 0px 1px 8px 8px orange;

}
.visitus{
width:50%;
height: 300px;
background-color:#34495E;
position: absolute;

text-align: center;
font-family: Lucida Sans;
font-size: 20px;
box-shadow: 8px 4px 8px 8px orange;

}
.cards{
height: 570px;
width: 40%;
margin: auto;
margin-top: 25px;
    
}
.cards_login{
height: 360px;
width: 40%;
margin: auto;
margin-top: 80px;
   
}
.cardtext
{
text-align: center;
}
.userinputform{
display: inline-block;
position: absolute;
float: left;
clear: both;
}
.userinputleft{
width:50%;
height:50%;
background-color:'green';
float:left;

}
.userinputright{
width:50%;
height:50%;
background-color:blue;
float:right;

}
.usersubmitbutton{
width:100%;
height:50%;
background-color:red;
clear:both;
}
.seedirection{
color: white;
text-decoration: none;
margin-left: 15vw;
display: absolute;
position: block;
margin-bottom: 30px;

}
.seedirection:hover
{
 text-decoration: none;
 color: white;   
}
.loginpage
{
text-align: center;
margin-top: 20px;
font-family: 'times new roman';

}

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.head_login{
position: absolute;
top: 35vw;
left: 0;
height: 50px;
font-size: 30px;
color: orange;
font-family:'times new roman'; 
font-weight:bold;
margin-left: 13vw;
margin-bottom: 20px;
font-style: italic;

}

/*Responsive started*/
@media screen and (min-device-width: 310px) and (max-device-width: 640px) { 
    
.headder
{
width: 100%;
height: 100px;
color:black;
position: fixed;
background-color:white;

}
.navbar-nav {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
padding-left: 0;
margin-bottom: 0;
list-style: none;
position: relative;
display: -webkit-box;
}
.textdesign
{
color: black !important;
font-size: 13px;
font-family: 'times new roman';
margin-left: 2px;
}
.Priya
{
font-size: 20px;
}

.FontIcons
{
display: inline-flex;
padding: 10px;
float: left;
margin-left: 0vw;
position: absolute;
display: all;

}
.photomargins
{
margin-left:0px;
margin-right:0px !important;
padding-left:0px;
padding-right:0px !important;

}
.containerdesign{
margin-left: 0px !important;
margin-right: 0px !important;
height: 30vw;
}
.Facebook
{
 font-size: 20px;

}
.Twitter{
font-size:20px;
margin-left: 10px;
}
.Camera
{

font-size: 20px;
margin-left:10px;
}

    
.image {
width:100%; 
height:280px;
margin-top: 100px;
}
.image_blur
{
width: 100%;
height: 380px;
position: absolute;

}

h2 {
position: absolute;
top: 65vw;
left: 0;
font-style: italic;   
height: 50px;
font-size: 52px;
color: white;
font-family: Snell Roundhand, cursive;
font-weight:bold;
margin-left: 4vw;
}
h3{
position: absolute;
top: 84vw;
left: 0;
height: 50px;
font-size: 18px;
color: orange;
font-family:'times new roman'; 
font-weight:bold;
margin-left: 4vw;
margin-bottom: 20px;
font-style: italic;

}

.blinking{
animation:blinkingText 3s infinite ;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: green; }
    50%{    color: blue; }
    99%{    color:yellow;  }
    100%{   color: #000;    }
}
.Services
{
padding-left:3vw;
align-items: center;
padding-right:0px;
background-color:#FA8258;
width:100%;
height:230px;
}
.imagerow1{
width:75px;
height:75px;
margin-top:10vw;
position: relative;

}

.imagerow2{
width:75px;
height:75px;
margin-bottom:40px;
position: relative;

}
.container {
position: relative;
margin-left: 0px;

}
.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.centered {
position: absolute;
top: 60%;
left: 13%;
transform: translate(-50%, -50%);
font-size: 15px;
color: blue;
font-weight: bold;
font-family: times new roman;
}
.facialbook{
position: absolute;
top: 75%;
left: 13%;
transform: translate(-50%, -50%);
font-size: 10px;
color: red;
font-weight: bold;
font-family: times new roman;  
list-style-type: none;
text-decoration: none;

}
.facialbook:hover{
color:blue;
background-color: pink;
padding: 10px;
list-style-type: none;
text-decoration: none;

}
.Tablesetting
{
width:336px;
height:395px;
background-color:black;
position: relative;
display: block;
align-items: center;
justify-content: center;
margin-left: -5vw;
margin-top: 2vw;
margin-bottom: 10vw;
padding: 1px;
font-size: 30px;
font-family:  "Great Vibes"; 
}
.winterspecial
{
    color: white;
    font-family: "Great Vibes", cursive;
    margin-top: 5vw;
    /* text-align: center; */
    text-align: -webkit-auto;
    margin-bottom: 13px;
    margin-left: 60px;

}
.parent{
overflow:hidden;
position:relative;
display:table;
color: white;
margin-left: 14vw;
font-family: fantasy;
font-size: 18px;
text-decoration: uppercase;
}
.left{
display:table-cell;
}
.right{
    
width:100px;
height:100%;
display:inline-block;
color: white;
margin-left: 4vw;
font-family: fantasy;
 }
.winterspecialbook{
color: white;
text-decoration: none;
margin-left: 20vw;
display: absolute;
position: block;

}
.winterspecialbook:hover{
text-decoration: none;
color: white;

}
.BookNow{
background-color: black;
width: 100%;
height: 50px;
position: absolute;
}
.BookNowUnder
{
width: 900px;
height: 400px;
background-color: white;
margin-left: 10vw;
position:absolute;
margin-top: 14vw;

}

.Bookonline_a{
width:100%;
height: 480px;
background-color: black;
padding-left: 0px;
padding-right: 0px;
position: relative;
}
.Bookonline_book_now{
font-size: 50px;
font-family: 'freestyle script';
color: white;
text-align: center;
font-style: italic;

}
.Bookonline_row{
width:98%;
height: 320px;
background-color: white;
margin-left: 1vw;
overflow: visible;
}
.Bookonline_row_right{
margin-left:auto;
margin-right:auto;
display:table;
align-items:center;
justify-content:center;
color:lightblack;
padding: 0px;
border-left: 2px solid black;
height: 20vw;
margin-top: 50px;
font-family: times new roman;

}
.Bookonline_row_left{
text-align: center;
font-size: 25px;
font-family: times new roman;
}


.Boot_it{
    color: white;
background-color: red;
border: none;
width: 100px;
height: 30px;
align-items: center;
justify-content: center;
margin: 16px;
}
.testiminal{
font-size: 22px;
font-family: 'freestyle script';
color: lightblack;
text-align: center;
font-style: italic;
position: relative;

}
.Testminal_row{
width:144%;
height: 300px;
background-color:lightgreen;
margin-left: 10vw;
position: absolute;
padding: 40px;
text-align: center;
font-family: Lucida Sans;
font-size: 20px;
box-shadow: 0px 1px 8px 8px orange;

}
.visitus{
width:50%;
height: 300px;
background-color:#34495E;
/*margin-left: 10vw;*/
position: absolute;
/*padding: 40px;*/
text-align: center;
font-family: Lucida Sans;
font-size: 20px;
box-shadow: 8px 4px 8px 8px orange;

}
.cards{
    height: 550px;
    width: 95%;
    margin: auto;
    margin-top: 12px;
    /*box-shadow: 0px 1px 8px 8px #85C1E9;*/
    /*border-radius: 10px;*/
}
.cards_login{
    height: 360px;
    width: 95%;
    margin: auto;
    margin-top: 12px;
    /*box-shadow: 0px 1px 8px 8px #85C1E9;*/
    /*border-radius: 10px;*/
}
.cardtext
{
    text-align: center;
}
.userinputform{
    display: inline-block;
    position: absolute;
    float: left;
    clear: both;
}
.userinputleft{
    width:50%;
    height:50%;
    background-color:'green';
    float:left;

}
.userinputright{
    width:50%;
    height:50%;
    /*background-color:blue;*/
    float:right

}
.usersubmitbutton{
    width:100%;
    height:50%;
    background-color:red;
    clear:both;
}
.seedirection{
color: white;
text-decoration: none;
margin-left: 30vw;
display: absolute;
position: block;
margin-bottom: 30px;

}
.seedirection:hover
{
 text-decoration: none;
 color: white;   
}
.loginpage
{
text-align: center;
margin-top: 20px;
font-family: 'times new roman';

}
    
}

@media screen and (min-device-width: 350px) and (max-device-width: 650px) { 
    
.headder
{
width: 100%;
height: 100px;
color:black;
position: fixed;
background-color:white;

}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    display: -webkit-box;
    }
.textdesign
{
color: black !important;
font-size: 13px;
font-family: 'times new roman';
margin-left: 2px;
}
.Priya
{
font-size: 20px;
}

.FontIcons
{
display: inline-flex;
    padding: 10px;
    float: left;
    margin-left: 0vw;
    position: absolute;
    display: all;

}
.photomargins
{
margin-left:0px;
margin-right:0px !important;
padding-left:0px;
padding-right:0px !important;

}
.containerdesign{
margin-left: 0px !important;
margin-right: 0px !important;
height: 30vw;
}
.Facebook
{
 font-size: 20px;

}
.Twitter{
font-size:20px;
margin-left: 10px;
}
.Camera
{

font-size: 20px;
margin-left:10px;
}

    
.image {
width:100%; 
height:280px;
margin-top: 100px;
}
.image_blur
{
width: 100%;
height: 380px;
position: absolute;

}

h2 {
position: absolute;
top: 65vw;
left: 0;
font-style: italic;   
height: 50px;
font-size: 52px;
color: white;
font-family: Snell Roundhand, cursive;
font-weight:bold;
margin-left: 4vw;
}
h3{
position: absolute;
top: 84vw;
left: 0;
height: 50px;
font-size: 18px;
color: orange;
font-family:'times new roman'; 
font-weight:bold;
margin-left: 4vw;
margin-bottom: 20px;
font-style: italic;

}

.blinking{
animation:blinkingText 3s infinite ;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: green; }
    50%{    color: blue; }
    99%{    color:yellow;  }
    100%{   color: #000;    }
}
.Services
{
padding-left:5vw;
align-items: center;
padding-right:0px;
background-color:#FA8258;
width:100%;
height:270px;
}
.imagerow1{
width:82px;
height:82px;
margin-top:10vw;
position: relative;

}

.imagerow2{
width:82px;
height:82px;
margin-bottom:40px;
position: relative;

}
.container {
position: relative;
margin-left: 0px;

}
.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.centered {
position: absolute;
top: 60%;
left: 13%;
transform: translate(-50%, -50%);
font-size: 15px;
color: blue;
font-weight: bold;
font-family: times new roman;
}
.facialbook{
position: absolute;
top: 75%;
left: 13%;
transform: translate(-50%, -50%);
font-size: 10px;
color: red;
font-weight: bold;
font-family: times new roman;  
list-style-type: none;
text-decoration: none;

}
.facialbook:hover{
color:blue;
background-color: pink;
padding: 10px;
list-style-type: none;
text-decoration: none;

}
.Tablesetting
{
width:336px;
height:395px;
background-color:black;
position: relative;
display: block;
align-items: center;
justify-content: center;
margin-left: 3vw;
margin-top: 2vw;
margin-bottom: 10vw;
padding: 1px;
font-size: 30px;
font-family:  "Great Vibes"; 
}
.winterspecial
{
    color: white;
    font-family: "Great Vibes", cursive;
    margin-top: 5vw;
    /* text-align: center; */
    text-align: -webkit-auto;
    margin-bottom: 13px;
    margin-left: 60px;

}
.parent{
overflow:hidden;
position:relative;
display:table;
color: white;
margin-left: 14vw;
font-family: fantasy;
font-size: 18px;
text-decoration: uppercase;
}
.left{
display:table-cell;
}
.right{
    
width:100px;
height:100%;
display:inline-block;
color: white;
margin-left: 4vw;
font-family: fantasy;
 }
.winterspecialbook{
color: white;
text-decoration: none;
margin-left: 20vw;
display: absolute;
position: block;

}
.winterspecialbook:hover{
text-decoration: none;
color: white;

}
.BookNow{
background-color: black;
width: 100%;
height: 50px;
position: absolute;
}
.BookNowUnder
{
width: 900px;
height: 400px;
background-color: white;
margin-left: 10vw;
position:absolute;
margin-top: 14vw;

}

.Bookonline_a{
width:100%;
height: 480px;
background-color: black;
padding-left: 0px;
padding-right: 0px;
position: relative;
}
.Bookonline_book_now{
font-size: 50px;
font-family: 'freestyle script';
color: white;
text-align: center;
font-style: italic;

}
.Bookonline_row{
width:98%;
height: 320px;
background-color: white;
margin-left: 1vw;
overflow: visible;
}
.Bookonline_row_right{
margin-left:auto;
margin-right:auto;
display:table;
align-items:center;
justify-content:center;
color:lightblack;
padding: 0px;
border-left: 2px solid black;
height: 20vw;
margin-top: 50px;
font-family: times new roman;

}
.Bookonline_row_left{
text-align: center;
font-size: 25px;
font-family: times new roman;
}


.Boot_it{
    color: white;
background-color: red;
border: none;
width: 100px;
height: 35px;
align-items: center;
justify-content: center;
margin: 50px;
}
.testiminal{
font-size: 35px;
font-family: 'freestyle script';
color: lightblack;
text-align: center;
font-style: italic;
position: relative;

}
.Testminal_row{
width:144%;
height: 300px;
background-color:lightgreen;
margin-left: 10vw;
position: absolute;
padding: 40px;
text-align: center;
font-family: Lucida Sans;
font-size: 20px;
box-shadow: 0px 1px 8px 8px orange;

}
.visitus{
width:50%;
height: 300px;
background-color:#34495E;
/*margin-left: 10vw;*/
position: absolute;
/*padding: 40px;*/
text-align: center;
font-family: Lucida Sans;
font-size: 20px;
box-shadow: 8px 4px 8px 8px orange;

}
.cards{
    height: 550px;
    width: 95%;
    margin: auto;
    margin-top: 12px;
    /*box-shadow: 0px 1px 8px 8px #85C1E9;*/
    /*border-radius: 10px;*/
}
.cards_login{
    height: 360px;
    width: 95%;
    margin: auto;
    margin-top: 12px;
    /*box-shadow: 0px 1px 8px 8px #85C1E9;*/
    /*border-radius: 10px;*/
}
.cardtext
{
    text-align: center;
}
.userinputform{
    display: inline-block;
    position: absolute;
    float: left;
    clear: both;
}
.userinputleft{
    width:50%;
    height:50%;
    background-color:'green';
    float:left;

}
.userinputright{
    width:50%;
    height:50%;
    /*background-color:blue;*/
    float:right

}
.usersubmitbutton{
    width:100%;
    height:50%;
    background-color:red;
    clear:both;
}
.seedirection{
color: white;
text-decoration: none;
margin-left: 30vw;
display: absolute;
position: block;
margin-bottom: 30px;

}
.seedirection:hover
{
 text-decoration: none;
 color: white;   
}
.loginpage
{
text-align: center;
margin-top: 20px;
font-family: 'times new roman';

}
    
}

@media screen and (min-device-width: 375px) and (max-device-width: 670px)
{
.centered {
position: absolute;
top: 60%;
left: 11%;
transform: translate(-50%, -50%);
font-size: 15px;
color: blue;
font-weight: bold;
font-family: times new roman;
}
.facialbook {
    position: absolute;
    top: 75%;
    left: 11%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: red;
    font-weight: bold;
    font-family: times new roman;
    list-style-type: none;
    text-decoration: none;
}

.Tablesetting {
    width: 336px;
    height: 395px;
    background-color: black;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 2vw;
    margin-bottom: 10vw;
    padding: 1px;
    font-size: 30px;
    font-family: "Great Vibes";
}



}

@media screen and (min-device-width: 410px) and (max-device-width: 850px)
{
.Priya
{
    font-size: 20px;
    margin-left: -17px !important;
}
.Services
{
padding-left:30px;
align-items: center;
padding-right:0px;
background-color:#FA8258;
width:154%;
height:270px;
}
.Tablesetting
{
width:336px;
height: 500px;
background-color:black;
position: relative;
display: block;
align-items: center;
justify-content: center;
margin-left: 10vw;
margin-top: 8vw;
margin-bottom: 22vw;
padding: 1px;
font-size: 30px;
font-family:  "Great Vibes"; 
}
.FontIcons
{
display: inline-flex;
padding: 4px;
float: left;
margin-left: 0vw;
position: absolute;
display: all;

}
.image {
    width: 100%;
    height: 280px;
    margin-top: 100px;
}
.image_blur {
    width: 100%;
    height: 350px;
    position: absolute;
}
h2 {
    position: absolute;
    top: 55vw;
    left: 0;
    font-style: italic;
    height: 50px;
    font-size: 52px;
    color: white;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    margin-left: 4vw;
}
h3 {
    position: absolute;
    top: 70vw;
    left: 0;
    height: 50px;
    font-size: 18px;
    color: orange;
    font-family: 'times new roman';
    font-weight: bold;
    margin-left: 4vw;
    margin-bottom: 20px;
    font-style: italic;
}
.blinking{
animation:blinkingText 3s infinite ;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: green; }
    50%{    color: blue; }
    99%{    color:yellow;  }
    100%{   color: #000;    }
}
.winterspecial {
    color: white;
    font-family: "Great Vibes", cursive;
    margin-top: 4vw;
    /* text-align: center; */
    text-align: -webkit-auto;
    margin-bottom: 10px;
    margin-left: 48px;
}
.Tablesetting {
    width: 336px;
    height: 380px;
    background-color: black;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    margin-top: 8vw;
    margin-bottom: 22vw;
    padding: 1px;
    font-size: 30px;
    font-family: "Great Vibes";
}
.right{
    
width:100px;
height:100%;
display:inline-block;
color: white;
margin-left: 3vw;
font-family: fantasy;
 }
.winterspecialbook {
    color: white;
    text-decoration: none;
    margin-left: 16vw;
    display: absolute;
    position: block;
}

.parent {
    overflow: hidden;
    position: relative;
    display: table;
    color: white;
    margin-left: 13vw;
    font-family: fantasy;
    font-size: 18px;
    text-decoration: uppercase;
}
.winterspecial {
    color: white;
    font-family: "Great Vibes", cursive;
    margin-top: 4vw;
    /* text-align: center; */
    text-align: -webkit-auto;
    margin-bottom: 10px;
    margin-left: 70px;
}
.centered {
position: absolute;
top: 60%;
left: 7%;
transform: translate(-50%, -50%);
font-size: 15px;
color: blue;
font-weight: bold;
font-family: times new roman;
}
.facialbook {
position: absolute;
top: 75%;
left: 7%;
transform: translate(-50%, -50%);
font-size: 10px;
color: red;
font-weight: bold;
font-family: times new roman;
list-style-type: none;
text-decoration: none;
}
.cards_login {
    height: 325px;
    width: 95%;
    margin: auto;
    margin-top: 12px;
    
}
}
@media screen and (min-device-width: 765px) and (max-device-width: 1024px)
{
    .Priya
{
    font-size: 20px;
    margin-left: -17px !important;
}
.image {
width: 100%;
height: 415px;
margin-top: 100px;
}

 
h2 {
    position: absolute;
    top: 40vw;
    left: 0;
    font-style: italic;
    height: 50px;
    font-size: 52px;
    color: white;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    margin-left: 4vw;
}
h3 {
    position: absolute;
    top: 50vw;
    left: 0;
    height: 50px;
    font-size: 18px;
    color: orange;
    font-family: 'times new roman';
    font-weight: bold;
    margin-left: 4vw;
    margin-bottom: 20px;
    font-style: italic;
}

.Facebook
{
 font-size: 35px;

}
.Twitter{
font-size:35px;
margin-left: 10px;
}
.Camera
{

font-size: 35px;
margin-left:10px;
}
.Services
{
padding-left:30px;
align-items: center;
padding-right:0px;
background-color:#FA8258;
width:100%;
height:500px;
}
.blinking{
animation:blinkingText 3s infinite ;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: green; }
    50%{    color: blue; }
    99%{    color:yellow;  }
    100%{   color: #000;    }
}
.winterspecial {
    color: white;
    font-family: "Great Vibes", cursive;
    margin-top: 4vw;
    /* text-align: center; */
    text-align: -webkit-auto;
    margin-bottom: 10px;
    margin-left: 100px;
}

.FontIcons
{
display:contents;
padding: 4px;
float: left;
margin-left: 0vw;
position: absolute;


}

.image_blur {
    width: 100%;
    height: 350px;
    position: absolute;
}
.imagerow1{
width:172px;
height:172px;
margin-top:10vw;
position: relative;

}

.imagerow2{
width:172px;
height:172px;
margin-bottom:40px;
position: relative;

}
.textdesign
{
color: black !important;
font-size: 20px;
font-family: 'times new roman';
margin-left: 2px;
display: table-cell;
}
.Tablesetting {
    width: 550px;
    height: 415px;
    background-color: black;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 13vw;
    margin-top: 8vw;
    margin-bottom: 14vw;
    padding: 1px;
    font-size: 30px;
    font-family: "Great Vibes";
}
.right{
    
width:100px;
height:100%;
display:inline-block;
color: white;
margin-left: 215px;
font-family: fantasy;
 }
.winterspecialbook {
    color: white;
    text-decoration: none;
    margin-left: 20vw;
    display: absolute;
    position: block;
}

.parent {
    overflow: hidden;
    position: relative;
    display: table;
    color: white;
    margin-left: 70px;
    font-family: fantasy;
    font-size: 18px;
    text-decoration: uppercase;
}
.winterspecial {
    color: white;
    font-family: "Great Vibes", cursive;
    margin-top: 4vw;
    /* text-align: center; */
    text-align: -webkit-auto;
    margin-bottom: 10px;
    margin-left: 150px;
}
.centered {
position: absolute;
top: 60%;
left: 13%;
transform: translate(-50%, -50%);
font-size: 22px;
color: blue;
font-weight: bold;
font-family: times new roman;
}
.facialbook {
position: absolute;
top: 71%;
left: 13%;
transform: translate(-50%, -50%);
font-size: 15px;
color: red;
font-weight: bold;
font-family: times new roman;
list-style-type: none;
text-decoration: none;
}
.cards{
    height: 550px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
   
}
.cards_login {
    height: 325px;
    width: 95%;
    margin: auto;
    margin-top: 12px;
   
}
.seedirection{
color: white;
text-decoration: none;
margin-left: 25vw;
display: absolute;
position: block;
margin-bottom: 30px;

}
}
/*@media screen and (min-device-width: 1024px) and (max-device-width: 1400px)
{
.Priya
{
font-size: 20px;
margin-left: -17px !important;
}
.image {
width: 100%;
height: 615px;
margin-top: 100px;
}

 
h2 {
position: absolute;
top: 35vw;
left: 0;
font-style: italic;
height: 60px;
font-size: 52px;
color: white;
font-family: Snell Roundhand, cursive;
font-weight: bold;
margin-left: 5vw;
}
h3 {
position: absolute;
top: 40vw;
left: 0;
height: 70px;
font-size: 35px;
color: orange;
font-family: 'times new roman';
font-weight: bold;
margin-left: 5vw;
margin-bottom: 20px;
font-style: italic;
}

.Facebook
{
 font-size: 25px;

}
.Twitter{
font-size:25px;
margin-left: 10px;
}
.Camera
{

font-size: 25px;
margin-left:10px;
}
.Services
{
padding-left:30px;
align-items: center;
padding-right:0px;
background-color:#FA8258;
width:100%;
height:600px;
}
.blinking{
animation:blinkingText 3s infinite ;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: green; }
    50%{    color: blue; }
    99%{    color:yellow;  }
    100%{   color: #000;    }
}
.winterspecial {
color: white;
font-family: "Great Vibes", cursive;
margin-top: 4vw;

text-align: -webkit-auto;
margin-bottom: 10px;
margin-left: 100px;
}

.FontIcons
{
display:contents;
padding: 4px;
float: left;
margin-left: 0vw;
position: absolute;
}

.image_blur {
width: 100%;
height: 350px;
position: absolute;
}
.imagerow1{
width:215px;
height:215px;
margin-top:10vw;
position: relative;

}

.imagerow2{
width:215px;
height:215px;
margin-bottom:40px;
position: relative;

}
.textdesign
{
color: black !important;
font-size: 25px;
font-family: 'times new roman';
margin-left: 2px;
display: table-cell;
}
.Tablesetting {
width: 550px;
height: 415px;
background-color: black;
position: relative;
display: block;
align-items: center;
justify-content: center;
margin-left: 13vw;
margin-top: 8vw;
margin-bottom: 14vw;
padding: 1px;
font-size: 30px;
font-family: "Great Vibes";
}
.right{
    
width:100px;
height:100%;
display:inline-block;
color: white;
margin-left: 215px;
font-family: fantasy;
 }
.winterspecialbook {
color: white;
text-decoration: none;
margin-left: 20vw;
display: absolute;
position: block;
}

.parent {
overflow: hidden;
position: relative;
display: table;
color: white;
margin-left: 70px;
font-family: fantasy;
font-size: 18px;
text-decoration: uppercase;
}
.winterspecial {
color: white;
font-family: "Great Vibes", cursive;
margin-top: 4vw;

text-align: -webkit-auto;
margin-bottom: 10px;
margin-left: 150px;
}
.centered {
position: absolute;
top: 60%;
left: 13%;
transform: translate(-50%, -50%);
font-size: 22px;
color: blue;
font-weight: bold;
font-family: times new roman;
}
.facialbook {
position: absolute;
top: 71%;
left: 13%;
transform: translate(-50%, -50%);
font-size: 15px;
color: red;
font-weight: bold;
font-family: times new roman;
list-style-type: none;
text-decoration: none;
}
.cards{
height: 550px;
width: 50%;
margin: auto;
margin-top: 100px;
   
}
.cards_login {
height: 325px;
width: 50%;
margin: auto;
margin-top: 10vw;
   
}
.seedirection{
color: white;
text-decoration: none;
margin-left: 25vw;
display: absolute;
position: block;
margin-bottom: 30px;

}
.Bookonline_row{
width:80%;
height: 400px;
background-color: white;
margin-left: 5vw;
}


}*/















